.principal{
    background-color: #057378;
    padding-left: 40px;
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    padding-left: 3rem;
    gap: 3rem;

}
.imagem-perfil{
    align-content: center;
    margin-bottom: 1rem;
    
}

.nome{
 display: flex;
 color: white;
 flex-direction: column;
 gap: 1rem;

}

.assistido {
    font-size: 28px;
    display: flex;
    gap: 3rem;
    text-align: center;

}

.assistido p {
    font-size: 36px;

  }
  
  .assistido p:first-child {
    font-size: 36px;
    
  }

